<%- include('../partials/header') %>
<div class="pokedex">
<img class="pokedex-title" src="/images/pokedex.png" alt="Pokedex">
<img class="pokedex-img" src="/images/pokedex-img.png">
</div>







<%- include('../partials/footer') %>