<%- include('../partials/header') %>
<div class="pokedex">
<img class="pokedex-title" src="/images/pokedex.png" alt="Pokedex">
<img class="pokedex-img" src="/images/pokedex-img.png" alt="Pokedex image">
</div>
<form action="/pokemon/search" method="POST" class="poke-search">
  <button type="submit" class="btn btn-light random-btn">Random</button>
  <input type="text" name="query" required="true" class="input-text"placeholder="Enter Pokemon Name" id="input-search">
  <button type="submit" class="btn btn-danger search-btn">Search</button>
</form>






<%- include('../partials/footer') %>