<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/javascript/app.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <title>PokeCollector</title>
    <link rel="icon" href="/images/favicon.ico" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img width="40" src="/images/pokeball.png" alt="pokeball-logo" />
      <a class="navbar-brand" href="/">PokeCollector</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="#">Pokedex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Trainer List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Log Out</a>
          </li>
          <li class="nav-item">
            <img id="avatarPhoto" height="50" src="<%= user.avatar %>" alt="user avatar" />
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/google">Login with Google</a>
          </li>

          <% } %>
        </ul>
      </div>
    </nav>
    <div class= "img-container">
      <img src="/images/login-title.png" alt="PokeCollector">
    </div>

