html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
    but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference -
  in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}
body {
  font-family: "Press Start 2P", cursive;
  background: url("/images/bg-login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}
nav {
  background-color: white;
  font-size: 1.5rem;
}
.nav-link,
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem 1.5rem;
}
#avatarPhoto {
  border-radius: 50%;
  justify-content: flex-end;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

@media screen and (max-width:800px){
  .login-title-logo{
    height:110px;
  }
}