html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
    but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference -
  in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}
body {
  font-family: 'Press Start 2P', cursive;
  background-color: gray;
  margin: 0;
  padding: 0;
}
nav {
  background-color: white;
  font-size:1.5rem;
}
#avatarPhoto {
  border-radius: 50%;
  justify-content: flex-end;
}
.card-img-top{
   height:18rem;
   width:18rem;
}

.pokedex-title{
  height:125px;
}
