html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
    but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference -
  in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}
body {
  font-family: "Press Start 2P", cursive;
  background-color: #a8a6aa;
  margin: 0;
  padding: 0;
}
nav {
  background-color: white;
  font-size: 1.5rem;
}
#avatarPhoto {
  border-radius: 50%;
  justify-content: flex-end;
}
.card-img-top {
  height: 18rem;
  width: 18rem;
}
.nav-link,
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem 1.5rem;
}
.pokedex {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.pokedex-title,
.pokedex-img {
  height: 150px;
}

.poke-search {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  font-size: 20px;
  height: 60px;
  padding: 5px;
}

.random-btn {
  margin-right: 8px;
  font-size: 21px;
}
.search-btn {
  font-size: 21px;
}

.pika-gif {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.pik-gif-img {
  height: 150px;
}

.poke-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.poke-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.poke-category,
.add-delete {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2rem;
}
.measurements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0 0 4rem;
}
.poke-stats {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;
  margin-top: 2rem;
}
.add-poke {
  font-size: 1.5rem;
  padding: 1rem;
}
.user-list-page {
  width: 50rem;
}
.profile-page {
  width: 60rem;
}

@media screen and (max-width: 800px) {
  .pokedex-title,
  .pokedex-img {
    height: 75px;
  }
  .poke-search {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    font-size: 10px;
    height: 50px;
    padding: 5px;
  }
  .random-btn {
    margin-right: 8px;
    font-size: 15px;
  }
  .search-btn {
    font-size: 10px;
  }
  .add-poke {
    font-size: 1rem;
    padding: 1rem;
  }
  .user-list-page {
    width: 30rem;
  }
  .profile-page {
    width: 37rem;
  }
  .pik-gif-img {
    height: 8rem;
  }
  #avatarPhoto {
    height: 80px;
    width: 80px;
  }
}
